{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">

    <div class="findForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="SUBMIT" value="Find" class="btn btn-primary">
        {{ form_end(form) }}
    </div>
    {% if founded is not empty %}
    <table class="table table-stripped" style="margin-top:10px;">
        <tr>
            <td>#</td>
            <th>User</th>
            <th></th>
        </tr>
        {% for found in founded %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ found }}</td>
            <td><span class="glyphicon glyphicon-plus js-addFriend" val="{{ found.id }}"></span></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script> var sendFriendRequest = '{{ path('app_friends_add', {'id': 'elementId'}) }}'; </script>
    <script src="{{ asset('js/sendFriendRequest.js')}}"></script>
{% endblock %}
