{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_user_addchallenge') }}"><button class="btn btn-primary">Dodaj challenge</button></a>
    <a href="{{ path('app_user_index') }}"><button class="btn btn-primary">Wróć</button></a>

    <table class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ćwiczenie</th>
            <th scope="col">Ilość</th>
            <th scope="col">Czas zakończenia</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        {% for challenge in challenges %}
            <tr>
                    <th scope="row">{{ loop.index }}</th>

                    <td> <a href="{{ path('app_user_checkchallenge', {'id': challenge.id}) }}">{{ challenge.exercise }}</a></td>
                    <td>{{ challenge.amount }}</td>
                    <td>{{ challenge.time|date("m/d/Y H:i:s") }}</td>
                    {% if challenge.done == 1 %}
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% elseif challenge.done == 2 %}
                     <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                     {% else %}
                    <td>
                      <span class="glyphicon glyphicon-ok" val="{{ challenge.id }}"></span>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                    {% endif %}
                <td><span class="glyphicon glyphicon-trash js-deleteRow" val="{{ challenge.id }}" aria-hidden="true"></span></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script> var removeUrl = '{{ path('app_user_deletechallenge', {'id': 'elementId'}) }}'; </script>
    <script src="{{ asset('js/deleteRow.js')}}"></script>

{% endblock %}
