{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_challenge_addtochallenge', {'id': challenge.id}) }}">
        <button class="btn btn-primary">Add repetition</button>
    </a>
    <a href="{{ path('app_challenge_index') }}">
        <button class="btn btn-primary">Back</button>
    </a>
    <div style="margin: 15px;">
        <strong>Challenge:</strong> {{ challenge.exercise }} <br/>
        <strong>Amount:</strong> {{ challenge.amount }}<br/>
        <strong>Challenge until:</strong> {{ challenge.time|date("d-m-Y")}} <br/>
        <strong>Status:</strong> {% if challenge.done == 1 %}
                    Done
                {% else %}
                    In progress
                {% endif %}
    </div>

    <h2>To do: {{ repsToDo }}</h2>
    <h2>Left: {{ repsLeft }}</h2>
    {% if historyOfChallenge is not empty %}
    <h2>History</h2>

    <table class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Added date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        {% for exercise in historyOfChallenge %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ exercise.amount }}</td>
            <td>{{ exercise.date|date("d-m-y") }}</td>
            <td><span class="glyphicon glyphicon-trash js-deleteRow" val="{{ exercise.id }}" aria-hidden="true"></span></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script> var removeUrl = '{{ path('app_challenge_deleteexercise', {'id': 'elementId'}) }}'; </script>
    <script src="{{ asset('js/deleteRow.js')}}"></script>
{% endblock %}
